@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}


/*
#03115e
#4b62e3
#0626DE
#1F295E
#051EAB
#373f51 extra
#1b1b1e extra
*/

:root {
    --cor1: #0B47B0;
    --cor2: #2D4A7D;
    --cor3: #062863;
    --cor4: #3F69B0;
    --cor5: #0F66FC;
    --fonte1: Arial, Helvetica, sans-serif;
}

body {
    background-image: url('imagens/fundo/fundo3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor2);
    margin: 10px;
    max-width: 1000px;
    min-width: 400px;
    margin: auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.452);
}

header {
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor2));
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
}

#hr1 {
    margin-bottom: 15px;
}

#hr2 {
    margin: 15px 0px 15px 0px;
}

nav a {
    text-decoration: none;
    text-align: center;
    margin: 5px 5px 5px 15px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

nav a:hover {
    background-color: var(--cor2);
    color: black;
    margin: 5px 5px 5px 15px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

article {
    width: 90%;
    background-color: white;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}

div {
    width: 950px;
    border: 1px solid black;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 2px var(--cor3);
}

div#div1 {
    width: 90%;
}

#div1>img {
    width: 200px;
    display: inline-block;
    margin: 20px 0px 0px 15px;
    transform: translate(-15%, 8%);
}

#div1>p {
    width: 60%;
    margin: 0px 0px 0px 10px;
    display: inline-block;
    transform: translate(0%, -29%);
    text-indent: 20px;
}

div#div2 {
    width: 90%;
}

div#div3 {
    width: 90%;
}

div#div4 {
    width: 90%;
}

div>h2 {
    background-image: linear-gradient(to right, var(--cor3), var(--cor5));
    color: WHITE;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.349);
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    text-indent: 5px;
}

div p {
    padding: 20px 15px 15px 15px;
    font-size: 1em;
    text-indent: 10px;
    text-align: justify;
    font-weight: bold;
}

footer p {
    margin: auto;
    text-decoration: none;
    color: white;
    padding: 10px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a::after {
    display: inline-block;
    content: '\00A0\1F5E8\00A0';
    width: 2px;
    height: 2px;
}

@media screen and (max-width:800px) {
    #div1>img {
        display: block;
        width: 40%;
        margin: auto;
        align-items: center;
    }
    #div1>p {
        width: 85%;
        font-size: 1em;
        margin: 0px 0px 10px 10px;
        text-indent: 20px;
        transform: translate(0%, 10%);
    }
}